.ant-modal-content {
  font-family: 'Nunito', sans-serif;
  border-radius: 20px;
}
.ant-modal-header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.ant-modal-close-icon {
  color: #ff6651;
}
.ant-layout .ant-layout-has-sider {
  height: 100vh;
}
