.ant-modal-content {
  font-family: 'Nunito', sans-serif;
  border-radius: 20px;
}
.ant-modal-header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.ant-modal-close-icon {
  color: #ff6651;
}
.ant-layout-has-sider {
  height: 100vh;
}
.ant-layout-sider {
  background-color: #fff !important;
}
.ant-menu {
  border-right: 0 !important;
}
.ant-menu-item {
  background-color: #ff7506 !important;
  color: white;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24;
  font-weight: 600;
}
.ant-btn-primary {
  background-color: #ff9138 !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
}
.ant-select-arrow > .anticon {
  color: #ff7506;
  font-size: 20px;
}
