.modal-imformation {
  .ant-modal-content {
    font-family: 'Nunito', sans-serif;
    border-radius: 20px;
  }
  .ant-modal-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .ant-modal-title {
    text-align: center;
    color: #ff7506;
    font-size: 24px;
    font-weight: 700;
    line-height: inherit;
  }
  .ant-input {
    border-radius: 8px;
    border: 1.5px solid #d4d4d7;
  }

  .ant-input:hover,
  .ant-input:focus {
    border-color: #ff7506 !important;
    outline: none !important;
  }
  input,
  input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 3;
  }
  [type='text']:focus {
    --tw-ring-color: #ff7506 !important;
  }
}