.col-item {
  width: 315px;
  height: 65px;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  line-height: 40.85px;
  padding: 12px 70px 12px 70px;
  background-color: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}
