@import '~antd/dist/antd.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.btn-primary {
  width: 162px;
  display: inline-block;
  --color: #ff9138;
  color: white;
  padding: 8px 35px;
  border-radius: 8px;
  background-color: var(--color);
  font-weight: 700;
  outline: none;
  border: 1px solid var(--color);
  font-size: 16px;
  &.btn-outline {
    background: white;
    color: var(--color);
    border: 1px solid var(--color);
    &:hover {
      background-color: white;
    }
  }
  &:hover {
    border: 1px solid var(--color);
    background-color: var(--color);
  }
  &:focus {
    border: 1px solid var(--color);
    background-color: var(--color);
    box-shadow: 0 0 3px var(--color);
    outline-offset: 0px;
    outline: none;
  }
}
.btn-gray {
  width: 213px;
  display: inline-block;
  --color: #c4c4c4;
  color: white;
  padding: 7px 32px;
  background-color: var(--color);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-weight: 700;
  outline: none;
  border: 1px solid var(--color);
  font-size: 16px;
  &:hover {
    border: 1px solid var(--color);
    background-color: var(--color);
  }
  &:focus {
    border: 1px solid var(--color);
    background-color: var(--color);
    box-shadow: 0 0 3px var(--color);
    outline-offset: 0px;
    outline: none;
  }
}
